.wrapper{
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: rgba(50,51,50,0.74);
}
.container-fluid{
  margin: auto;
  color: #fff;
}

form{
  border: 1px solid black;
  padding: 15px;
  border-radius: 5px;
  background-color: #202020;
  box-shadow: 5px 5px #444444;
}
